<header>
  <div id="contHeader1">
    <a routerLink="/">
        <img src="assets/headerIkona.jpg" alt="RoleCall">
    </a>
    <h1>Dokumentacija</h1>
  </div>
  <nav id="navigacija">
    <a routerLink="/">Početna</a>
    <a routerLink="/osobe">Osobe</a>
    <a routerLink="/korisnici">Korisnici</a>
    <a routerLink="/dodavanje">Dodavanje</a>
    <a routerLink="/dokumentacija">Dokumentacija</a>
    <a routerLink="/login">Login</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>RoleCall &copy; 2024</p>
</footer>
