<main>
    <div class="pagination">
      <button (click)="prethodnaStranica()" [disabled]="stranica === 1">Prethodna</button>
      <span>Stranica {{ stranica }} / {{ ukupnoStranicaPrikaz }}</span>
      <button (click)="sljedecaStranica()" [disabled]="stranica === ukupnoStranicaPrikaz">Sljedeća</button>
  
      <label for="brojPoStranici">Broj osoba po stranici:</label>
      <select id="brojPoStranici" (change)="promjeniBrojPoStranici($event)">
        <option *ngFor="let broj of [5, 10, 20, 50]" [value]="broj" [selected]="broj === brojPoStranici">{{ broj }}</option>
      </select>
    </div>
  
    <div #osobeContainer class="osobe-container"></div>
  </main>
  