# Node_modules
 
node_modules

package-lock.json

*/**/konfiguracija.csv

build

.angular/
dist/

*.tsbuildinfo

.vscode/
*.code-workspace

.DS_Store
Thumbs.db

logs/
*.log

environments/environment.prod.ts
environments/environment.ts
