<div class="container">
    <div class="rotating-snowflake bottom-left"></div>
    <div class="rotating-snowflake top-right"></div>
    
    <div class="message-box">
        <h1>ERROR 404</h1>
        <p>Ova stranica nije pronađena! Url koji ste upisali ne postoji u domeni ove aplikacije!</p>
        <p>Molimo vas da se vratite na početnu stranicu!</p>
        <button class="back-btn" (click)="goBack()">Vrati me na početnu</button>
    </div>

    <div class="falling-snow">
        <div
          class="flake"
          *ngFor="let snowflake of snowflakes"
          [style.animation-duration]="snowflake.duration + 's'"
          [style.left]="snowflake.left + '%'">
          &#10052;
        </div>
    </div>    
</div>
  