<div *ngIf="korisnik">
    <h2>Profil korisnika</h2>
    <p><strong>Korisničko ime:</strong> {{ korisnik.korime }}</p>
    <p><strong>Email:</strong> {{ korisnik.email }}</p>
    <p><strong>Status:</strong> {{ korisnik.status }}</p>
    <p><strong>Ime:</strong> {{ korisnik.ime }}</p>
    <p><strong>Prezime:</strong> {{ korisnik.prezime }}</p>
    <p><strong>Adresa:</strong> {{ korisnik.adresa }}</p>
    <div [ngSwitch]="korisnik.tip_korisnika_id">
        <p *ngSwitchCase="1"><strong>Tip korisnika:</strong> Registrirani korisnik</p>
        <p *ngSwitchCase="2"><strong>Tip korisnika:</strong> Administrator</p>
        <p *ngSwitchCase="3"><strong>Tip korisnika:</strong> Gost</p>
        <p *ngSwitchDefault><strong>Tip korisnika:</strong> Nepoznat</p>
    </div>          
    <p><strong>Telefon:</strong> {{ korisnik.telefon }}</p>
    <p><strong>Grad:</strong> {{ korisnik.grad }}</p>
    <p><strong>Država:</strong> {{ korisnik['država'] }}</p>
    <div>
      <button *ngIf="!korisnik.totpAktiviran" (click)="onActivateTOTP()">Aktiviraj TOTP</button>
      <button *ngIf="korisnik.totpAktiviran" (click)="onDeactivateTOTP()">Deaktiviraj TOTP</button>
    </div>
  
    <div *ngIf="totpSecret">
      <p>Tajni TOTP ključ: <strong>{{ totpSecret }}</strong></p>
      <p>Koristite ovaj ključ za postavljanje TOTP-a u aplikaciji.</p>
    </div>
</div>
  